@page
@model Shop.Ui.Pages.Accounts.LoginModel
@{
}
<form method="post">
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input asp-for="Input.Username" class="input" placeholder="Username">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input asp-for="Input.Password" class="input" type="password" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div>
        <input class="button is-link is-outlined" type="submit" name="name" value="Sign In" />
    </div>
</form>



